beautifulsoup4==4.12.2
catboost==1.2
goose3==3.1.17
matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
Requests==2.31.0
scikit_learn==1.2.2
streamlit==1.25.0
torch==2.0.1
tqdm==4.65.0
transformers==4.27.4
urllib3==1.26.15
